
@Verde: #28a74e;

.margenTop(@top: 0px){
  margin-top: @top;
}

.jumbotron{
  background-color:@Verde;
  color: #EAFAF1;
  font-style: italic;
  .margenTop(50px);
  
background-image: url(/imagenes/ss.png);
background-size: 100% 100%;

}
.im{
background-size: 100% 100%;
}


.form-control{

}



.list-group-item{
  background-color: #EAFAF1;
    border: 1px solid #000000;
 -moz-border-radius: 12px;
 -webkit-border-radius:12px;
 padding: 10px;

}
h6{
  color: #28a745;
}
footer {
  
  padding:3xp, 3xp, 3xp,3xp ;
 
  background-color: #fff;
  color: black;
}
.bg-light {
   background-color: black!important;

   
   }
   .navbarTogglerDemo01{
    
   }
ul.breadcrumb li a:hover {
  color: @Verde;
  text-decoration: underline;
}

ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}
thead{
  background-color: black;
  color: #EAFAF1;
}

card-hotel{

}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.card {
   background-color: #fff;
}

body{
 background-color: #fff;
}
.container{
   background-color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: @Verde;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
 background-color: @Verde;
 ;
}

h4{
  color: #EAFAF1;
}
thead#table1{
  
  background-color: @Verde;
  color: #EAFAF1;
}



.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #EAFAF1;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    color:#EAFAF1;
    background-color: #28a74e;
}

/* Popover */
.popover {
  border: 2px dotted red;
}

/* Popover Header */
.popover-title {
  background-color: #73AD21;
  color: #FFFFFF;
  font-size: 28px;
  text-align:center;
}

/* Popover Body */
.popover-content {
  background-color: coral;
  color: #FFFFFF;
  padding: 25px;
}

/* Popover Arrow */
.arrow {
  border-right-color: red !important;
}

.carousel-caption{
  color: white;
  text-align: right;

}